@font-face {
    font-family: 'fira_sansbook';
    src: url('../font/firasans-book-webfont.eot');
    src: url('../font/firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firasans-book-webfont.woff2') format('woff2'),
         url('../font/firasans-book-webfont.woff') format('woff'),
         url('../font/firasans-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('../font/firasans-medium-webfont.eot');
    src: url('../font/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firasans-medium-webfont.woff2') format('woff2'),
         url('../font/firasans-medium-webfont.woff') format('woff'),
         url('../font/firasans-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_condensedSBd';
    src: url('../font/proximanovacond-semibold-webfont.eot');
    src: url('../font/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/proximanovacond-semibold-webfont.woff2') format('woff2'),
         url('../font/proximanovacond-semibold-webfont.woff') format('woff'),
         url('../font/proximanovacond-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight';
    src: url('../font/firasans-light-webfont.eot');
    src: url('../font/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firasans-light-webfont.woff2') format('woff2'),
         url('../font/firasans-light-webfont.woff') format('woff'),
         url('../font/firasans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sanslight_italic';
    src: url('../font/firasans-lightitalic-webfont.eot');
    src: url('../font/firasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/firasans-lightitalic-webfont.woff2') format('woff2'),
         url('../font/firasans-lightitalic-webfont.woff') format('woff'),
         url('../font/firasans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #FFF url(../img/pattern.png) repeat;
	font: 14px fira_sansbook, Arial, Helvetica, sans-serif;
}

input[type="text"]:focus,
textarea:focus { 
	outline: none; 
}

html, 
body, 
.wrapper {
	height: 100%;
}

.wrapper__inner {
	min-height: 100%;
}

section .list .no_mgr {
	margin-right: 0 !important;
}

.icon {
	background: transparent url('../img/sprites.png') -20px -20px no-repeat;
	display: inline-block;
	font: 0px/0 a;
	margin: 0 10px 0 0;
	overflow: hidden;
	position: relative;
	vertical-align: baseline;
}

.wrapper {
	margin: 0 auto;
}

.logo {
	position: relative;
	top: -5px;
	width: 245px;
}

.logo__link {
	display: block;
}

.share {
	position: absolute;
	right: 0;
}

.share__link {
	background: url(../img/share.png) 0 0 no-repeat;
	float: left;
	display: block;
	margin: 0 0 0 20px;
	text-indent: -10000em;
	height: 47px;
	width: 47px;
	--webkit-transition: background .15s ease-in-out 0.2s;
	-moz-transition: background .15s ease-in-out 0.2s;
	-ms-transition: background .15s ease-in-out 0.2s;
	-o-transition: background .15s ease-in-out 0.2s;
	transition: background .15s ease-in-out 0.2s;

}

.twitter {
	background-position: -69px 0;
}

.facebook,
.github {
	background-position: -138px 0;
	margin: 0 0 0 22px;
}

.github {
	background-position: -207px 0;
}

.vk:hover {
	background-position: 0 bottom;
}

.twitter:hover {
	background-position: -69px bottom;
}

.facebook:hover {
	background-position: -138px bottom;
}

.github:hover {
	background-position: -207px bottom;
}

.share_a:first-child {
	margin: 0 2px 0 0;
}



.icon__menu {
	background-position: -55px -101px;
	height: 21px;
	width: 25px;
}

.menu {
	cursor: pointer;
	display: none;
	
	position: absolute;
	bottom: 46px;
	right: 41px;
}

header,
footer {
	background: #eff3f7 url(../img/header_line.png) center bottom no-repeat;
	margin: 0 auto 39px;
	padding: 35px 0 0;
	position: relative;
	height: 84px;
	width: 1200px;
}

footer {
	background-position: 0 0;
	margin: 0 auto;
	height: 80px;
	padding: 0;
	text-align: center;
}

footer p {
	color: #4a545d;
	font: 13px/80px fira_sanslight, Arial, Helvetica, sans-serif;
	margin: 0 0 0 65px;
}

.wrap__footer,
.wrap__header {
	background: #eff3f7;
	width: 100%;
}

.wrap__footer {
	/*margin: -119px 0 0;*/
}

.main {
	margin: 0 auto 38px;
	width: 965px;
}

.main aside {
    margin: 0 0 0 3px;
    float: left;
}

.main .content {
	margin: 0 0 0 314px;
}

.content section {
	background: #eff3f7;
	border-radius: 4px;
	position: relative;
	margin: 0 0 20px;
	padding: 0 0 8px;
	overflow: hidden;
	width: 650px;
}

.h2 {
	color: #3ba8c0;
	font-size: 27px;
	font-weight: normal;
	line-height: 73px;
	margin: 0 0 20px;
	
}

.decor {
	border-bottom: 2px solid #3ba8c0;
	padding: 0 23px 10px;
}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.photo {
	position: relative;
}

.general__photo {
	float: left;
	position: relative;
	height: 190px;
	width: 190px;
	overflow: hidden;
	margin: 0 30px 0 40px;
}

.general__photo {
	border: 5px solid #30a6bd;
	border-radius: 50%;
	-webkit-animation-name: anim__avatar;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
}
	

.list {
	list-style: none;
	padding: 0;
}

.list__item {
	color: #37424d;
	font-size: 15px;
	margin: 0 0 15px;
	line-height: 16px;
}

.list__item strong {
	font: 16px fira_sansmedium, Arial, Helvetica, sans-serif;
	margin: 0 4px 0 0;
}

.general_info .list {
	margin: 0 0 0 273px;
}

.list__tag {
	background: #3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #2e8ca2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(100%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#2e8ca2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 0%,#2e8ca2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#2e8ca2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#2e8ca2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */

    color: #FFF;
    font: 14px proxima_nova_condensedSBd, Arial, Helvetica, sans-serif;
    border-radius: 3px;
    float: left;
    line-height: 20px;
    margin: 0 13px 9px 0;
    padding: 0 7px 0 8px;
    white-space: nowrap;
}

.list__item_layout {
	overflow: hidden;
	margin: 0 10px 0 0;
}

.list__item_layout strong {
	float: left;
}

.list__more {
	margin: 0 0 0 154px;
}


/* sprite */
.icon_knowledge, 
.icon_paper, 
.icon_suitcase, 
.icon_email, 
.icon_phone, 
.icon_skype,
.icon_add_proj {
	background: url(../img/sprites.png) no-repeat;
}

.icon_knowledge {
	background-position: 0 -100px ;
	width: 41px;
	height: 23px;
}

.icon_paper {
	background-position: 0 -51px;
	width: 26px;
	height: 32px;
}

.icon_suitcase {
	background-position: 0 0;
	width: 32px;
	height: 30px;
}

.icon_email {
	background-position: 0 -149px;
	width: 21px;
	height: 16px;
}

.icon_phone {
	background-position: 0 -200px;
	width: 19px;
	height: 21px;
}

.icon_skype {
	background-position: 0 -249px;
	width: 20px;
	height: 20px;
}

.icon_add_proj {
	background-position: 0 -289px;
	height: 32px;
	width: 32px;
}

/* experience */
.content .experience {
	padding: 0;
}
.experience .h2 {
	margin: 0 0 31px;
}

.experience .list,
.education .list {
	margin: 0 0 0 70px;
}

.experience .list__item,
.education .list__item {
	color: #5a636b;
	padding: 0 0 0 60px;
	position: relative;
}

.experience .list__item,
.education .list__item {
	font: 15px fira_sanslight, Arial, Helvetica, sans-serif;
	margin: 0 0 32px;
}

.experience .list__item strong,
.education .list__item strong {
	font: normal 16px/16px fira_sansbook, Arial, Helvetica, sans-serif;
	display: block;

}

.experience .icon_paper,
.education .icon_paper,
.education .icon_knowledge,
.experience .icon_suitcase {
	position: absolute;
	left: 0;
}

/* education */
.education .h2 {
	margin: 0 0 34px;
}

.education .list__item {
	margin: 0 0 35px;
	height: 30px;
}

.education .icon_paper {
	left: 0;
}

.education .icon_knowledge {
	left: -8px;	
}

/* aside */
aside {
	width: 258px;
}

.profile {
	background: #eff3f7;
	border-radius: 4px;
	margin: 0 0 23px;
	width: 258px;
}

.profile .list {
	margin: 0 0 16px;
	border-radius: 4px;
}

.profile .list__item {
	font-size: 22px;
	height: 73px;
	line-height: 73px;
	padding: 0 6px;
	margin: 0;
	position: relative;
}

.profile .list__link {
	color: #959aa8;
	display: block;
	border-bottom: 2px solid transparent;
	padding: 0 22px;
	text-decoration: none;
	-webkit-transition: border 0.2s ease-in-out 0.1s;
	-moz-transition: border 0.2s ease-in-out 0.1s;
	-ms-transition: border 0.2s ease-in-out 0.1s;
	-o-transition: border 0.2s ease-in-out 0.1s;
	transition: border 0.2s ease-in-out 0.1s;
	
}

.profile .list__item:first-child.active,
.profile .list__item:last-child.active {
	background: #3ba8c0;
	border-radius: 4px 4px 0 0;
}

.profile .list__item.active {
	background: #3ba8c0;
}

.profile .list__item:last-child.active {
	border-radius: 0 0 4px 4px;
}

.profile .list__item.active .list__link {
	border-bottom: 2px solid transparent;
	color: #f9fafb;
}

.profile .list__link:hover {
	border-bottom: 2px solid #3ba8c0;
	color: #3ba8c0;
}

.experience,
.education {
	padding: 0 0 6px;
}


/* contacts */

.contacts {
	margin: 0 0 23px;
	position: relative;
	/* border-top: 10px; */
}

.contacts .h3 {
	background: #3ba8c0;
	color: #fbfcfd;
	font-size: 20px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0 20px;
	border-radius: 4px 4px 0 0;
}

.contacts .list {
	margin: 0 0 16px;
}

.contacts .list__item {
	color: #FFF;
	font-size: 16px;
	height: 39px;
	line-height: 39px;
	margin: 0;
	padding: 0 10px 0 42px;
}

.contacts .list__link {
	color: #FFF;
	text-decoration: none;
}

.contacts .list__item_email {
	background: #41b9d4;
}

.contacts .list__item_phone {
	background: #48cbe8;
}

.contacts .list__item_nickname {
	background: #51daf8;
}

.contacts .list__item:last-child {
	border-radius: 0 0 4px 4px;
}

.contacts .icon {
	top: 3px;
}

.contacts .icon_skype {
	top: 5px;
}

/* my works */
.portfolio .h2 {
	line-height: 84px;
}

.portfolio .h2 .decor {
	padding: 0 32px 4px;
}

.portfolio .list {
	overflow: hidden;
	margin: 0 0 44px;
	padding: 0 22px;
}

.portfolio .list__item {
	display: inline-block;
	margin: 0 26px 44px 0;
	position: relative;
	vertical-align: top;
	width: 182px;
}

.portfolio .thumbnail__caption {
	text-align: center;
}

.portfolio .thumbnail__title {
	margin: 6px 0 12px;
	line-height: 13px;
}

.portfolio .thumbnail__link {
	color: #3ba8c0;
	font: 13px/13px fira_sanslight_italic, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.portfolio .thumbnail__txt {
	color: #4a545d;
	font: 15px/19px fira_sanslight, Arial, Helvetica, sans-serif;
	margin: 0;
}

.thumbnail__photo {
	position: relative;
}

.thumbnail__shadow {
	/*background: url(../img/shadow_item_port.png) no-repeat;*/
	background: #016ca4;
	opacity: 0;
	left: 192px;
	position: absolute;
	right: 2px;
	bottom: 2px;
	top: 2px;
	z-index: 10;
	-webkit-transition: left 1s ease-in-out, opacity 2s ease-in-out;
}

.portfolio .thumbnail__project {
	border-radius: 4px;
	border: 2px solid #3ba8c0;
	display: block;
	height: 130px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 182px;
}

.portfolio .thumbnail__project img {
	vertical-align: bottom;
}

.thumbnail__project:hover .thumbnail__shadow {
	opacity: 0.75;
	left: 2px;
}

.add_project {
	background: #edf8fc;
	border: 1px dashed #3ba8c0;
	border-radius: 2px;
	display: block;
	min-height: 130px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.add_project .add_project__txt {
	color: #3ba8c0;
	left: 40px;
	min-width: 110px;
	position: absolute;
	font-size: 13px;
	text-align: center;
	top: 77px;
}

.add_project .add_project__icon {
	background-position: -0 -289px;
	height: 32px;
	position: absolute;
	top: -34px;
	left: 75px;
	display: block;
	width: 32px;	
	z-index: 100;
	transition: top 1s ease-in-out;
}

.add_project:hover .add_project__icon {
	top: 33px;
}

.thumbnail__project .thumbnail__name {
	border: 2px solid #FFF;
	border-radius: 4px;
	display: none;
	color: #FFF;
	font-size: 12px;
	height: 17px;
	line-height: 17px;
	padding: 0 5px;
	white-space: nowrap;
	left: 0;
	margin: -10px 0 0;
}

.thumbnail__project .thumbnail__name {
	margin: 0;
	position: relative;
	display: inline-block;
	top: -165px;
	width: auto;
	z-index: 100;
	-webkit-transition: top 1.5s ease-in-out;
}

.thumbnail__project:hover .thumbnail__name {
	top: -75px;
	
}



/* contact */
.contact {
	min-height: 848px;
}

.contact .h2,
.popup .h2 {
	background: #48cbe8;
	border-bottom: 17px solid #67dffa;
	color: #FFF;
	font: normal 27px/127px fira_sansbook, Arial, Helvetica, sans-serif;
	height: 121px;
	margin: 0 0 51px;
	text-align: center;
}

.contact .form__data input::-webkit-input-placeholder,
.contact .form__data textarea::-webkit-input-placeholder,
.contact .form__data input::-moz-input-placeholder,
.contact .form__data textarea::-moz-input-placeholder,
.contact .form__data input::ms-input-placeholder,
.contact .form__data textarea::ms-input-placeholder {
	color: #3ba8c0;
}

.form__data {
	margin: 0 0 0 130px;
	width: 377px;
}

.form__row {
	clear: both;
	padding: 0 0 19px;
	position: relative;
	overflow: hidden;
}

.form__data .form__row_captcha {
	margin: 36px 0 19px;
}

.form__row_captcha .form__col_r {
	position: relative;
	top: 28px;
}

.form__data .form__col_l,
.form__data .form__col_r {
	position: relative;
	width: 173px;
}

.form__data .form__col_l input,
.form__data .form__col_r input {
	border: 1px solid #3ba8c0;
	height: 26px;
	line-height: 26px;
	padding: 0 7px;
	width: 157px;
}

.form__data .form__col_l {
	float: left;
}

.form__data .form__col_r {
	float: right;
}

.form__data label {
	color: #58697a;
	display: block;
	font: normal 20px/30px fira_sanslight, Arial, Helvetica, sans-serif;
	margin: 0 0 3px;
}

.form__data .captcha__title {
	font-size: 16px;
}

.form__data .form__col_l input, 
.form__data .form__col_r input,
.form__data .captcha,
.form__data textarea,
.form__data .captcha__code {
	border-radius: 4px;
}

.form__data textarea {
	border: 1px solid #3ba8c0;
	height: 156px;
	max-height: 156px;
	max-width: 359px;
	padding: 8px;
	width: 359px;
}

.form__data .captcha {
	background: #FFF;
	border: 1px solid #3ba8c0;
	height: 79px;
	position: relative;
	text-align: center;
	width: 182px;
}

.form__data .form__col_r .captcha__code {
	position: relative;
	left: -3px;
}

.form__data .form__regist {
	margin: 38px 0 0;
}

.form__regist input {
	background: #48cbe8;
	border-radius: 4px;
	border: 3px solid #48cbe8;
	border-bottom: 3px solid #3ba8c0;
	color: #FFF;
	display: inline-block;
	font: normal 19px/23px fira_sansbook, Arial, Helvetica, sans-serif;
	height: 30px;
	padding: 0 19px;
}

input:focus {
	outline: 0;
}

.form__regist .form__reset {
	background: #849db5;
	border: 3px solid #849db5;
	border-bottom: 3px solid #687b8f;
	margin: 0 0 0 91px;
	padding: 0 27px;
}


/* popup */

.wrap__popup {
	-webkit-box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
	left: 50%;
	margin: 0 0 0 -295px;
	position: absolute;
	top: 266px;
	width: 590px;
	z-index: 200;
	background: #eff3f7;
	border-radius: 4px;
}

.popup {
	padding: 0 0 30px;
	position: relative;
}

.popup .form__col_r,
.popup .form__form__col_l {
	float: none;
}

.popup .h2 {
	border-bottom-width: 15px;
	height: 92px;
	line-height: 92px;
	margin: 0 0 25px;
	font-size: 40px;
	border-radius: 4px 4px 0 0;
}

.popup .form__data {
	margin: 0 auto;
	width: 477px;
}

.popup .form__col_r {
	margin: 0 0 25px;
}

.popup .form__col_r,
.popup .form__col_l {
	width: 100%;
	float: none;
}

.popup .form__col_r.active .error,
.popup .form__col_l.active .error {
	display: block;
}

.popup .form__col_r.active input,
.popup .form__col_l.active input,
.popup .form__col_l.active .img__input {
	background: #fdd5d2;
	border-color: #f97e76;
}

.popup .form__col_r input,
.popup .form__col_l input {
	display: block;
	font-size: 40px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	width: 409px;
}

.popup .form__data label {
	font: normal 36px/36px fira_sanslight, Arial, Helvetica, sans-serif;
	margin: 0 0 7px;
	text-align: center;	
}

.popup .form__regist {
	text-align: center;	
}

.popup .form__regist input {
	background: #48cbe8;
	border: 3px solid #48cbe8;
	border-bottom: 3px solid #3ba8c0;
	border-radius: 4px;
	font-size: 36px;
	height: 53px;
	padding: 0 64px 0 61px;
}

.popup .form__data .form__row {
	overflow: inherit;
}

.error {
	background: #f97e76;
	border-radius: 5px 0 0 5px;
	color: #FFF;
	display: none;
	font: 22px/40px fira_sansbold, Arial, Helvetica, sans-serif;
	height: 40px;
	margin: -53px 0 0 -178px;
	padding: 0 0 0 12px;
	position: absolute;
}

.error_corner {
	background: url(../img/error.gif) right 0 no-repeat;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	background-color: transparent;
	padding: 0 20px 0 0;
}

.error_password .error {
	margin: -48px 0 0 -188px;
}

.error_password .error_corner {
	padding: 0 18px 0 0;
}

.hide {
	display: none !important;
}

.shadow {
	background: #000;
	display: none;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.contact *::-webkit-input-placeholder,
.popup_project *::-webkit-input-placeholder {
	color: #3ba8c0;
}

.contact *::-moz-placeholder,
.popup_project *::-webkit-input-placeholder {
	color: #3ba8c0;
}

.contact *:-ms-input-placeholder,
.popup_project*::-webkit-input-placeholder  {
	color: #3ba8c0;
}


/* popup project */
.popup_project {
	margin: 0 0 0 -155px;
	width: 310px;
	top: 160px;
}

.popup_project .popup {
	padding: 0 0 12px;
}

.popup_project .h2 {
	border-bottom-width: 9px;
	height: 44px;
	line-height: 44px;
	margin: 0 0 12px;
	font-size: 24px;
}

.popup_project .form__data label,
.popup_project .form__data .img__txt {
	font: 18px/18px fira_sansbook, Arial, Helvetica, sans-serif;
	padding: 0 0 0 18px;
	text-align: left;
}

.popup_project .form__row input,
.popup_project .form__row textarea,
.popup_project .form__data .img__input {
	font: 12px/39px fira_sanslight, Arial, Helvetica, sans-serif;
	height: 39px;
	margin: 0 auto;
	width: 90%;
}

.popup_project .form__row textarea { 
	height: 109px;
	display: block;
	line-height: 16px;
}

.popup_project .form__data {
	width: auto;
}

.popup_project .form__col_l {
	margin: 0 0 12px;
	position: relative;
}

.popup_project .form__regist {
	margin: 14px 0 0;	
}

.popup_project .form__regist input {
	font-size: 20px;
	height: 30px;
	padding: 0 23px 0 21px;
}

.popup_project .error {
	background: #f97e76;
	border-radius: 3px;
	font: 9px/9px fira_sansbook, Arial, Helvetica, sans-serif;
	height: auto;
	margin: 0;
	padding: 6px;
	position: absolute;
	right: 28px;
	top: -4px;
}

.popup_project .error:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #f97e76;
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -10px;
    height: 0;
    width: 0;
}

.popup_project .exite {
	background-position: -56px -44px;
	position: absolute;
	cursor: pointer;
	height: 17px;
	margin: 0;
	right: 4px;
	top: 4px;
	width: 17px;
	z-index: 10;
}

.popup_project .form__data .img__txt {
	color: #58697a;
	display: block;
	margin: 0 0 7px;
}

.popup_project .form__data .img__input {
	border: 1px solid #3ba8c0;
	border-radius: 4px;
	display: block;
	padding: 0 7px;
	position: relative;
	z-index: 10;
}

.popup_project .form__data .img__project {
	background-color: #48cbe8;
	border-radius: 0 4px 4px 0; 
	position: absolute;
	padding: 0;
	height: 41px;
	top: 25px;
	background-position: -38px 8px;
	width: 52px;
	z-index: 100;
	right: 7px;
}

.popup_project .form__data .img__file {
	position: absolute;
	top: 25px;
	left: 8px;
	z-index: 0;
	opacity: 0;
}

#msg + .form__error {
	bottom: 5px;
}

.form__error {
	color: #f97e76;
	font-size: 12px;
	position: absolute;
	bottom: -18px;
	left: 0;
}

.has__success {
	border: 1px solid #82ca51 !important;
}

.has__error {
	border: 1px solid #f97e76 !important;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
            transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  40%, 80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
            transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }

  /*100% {
    -webkit-transform: translate3d(0, 700px, 0);
            transform: translate3d(0, 700px, 0);
    opacity: 0;
  }*/
}

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  20%, 60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
            transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  40%, 8% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
            transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }

 /* 100% {
    -webkit-transform: translate3d(0, 700px, 0);
            transform: translate3d(0, 700px, 0);
    opacity: 0;
  }*/
}

.hinge {
  -webkit-animation-name: hinge;
          animation-name: hinge;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
          animation-name: flash;
}


/* animations */
@-webkit-keyframes anim__avatar {
	0% {
		-webkit-box-shadow: 0 0 10px rgba(59,168,192,0.5);
	}

	100% {
		-webkit-box-shadow: 0 0 20px rgba(81,218,248,0.75);
	}
}

::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* media */


@media screen and (max-width: 768px) {
	.logo {
		left: 35px;
	}

	.share {
		right: 110px;
	}

	header,
	.main, 
	footer {
		width: 768px;
	}

	.main .content,
	.content section {
		width: 700px;	
	}

	.main .content {
		margin: 0 auto 20px;
	}
	
	.main {
		margin: 0 auto 105px;
		position: relative;
	}

	.main aside {
		float: none;
		width: 0;
	}

	.profile {
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .25);
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .25);
		-ms-box-shadow: 0 0 10px rgba(0, 0, 0, .25);
		-o-box-shadow: 0 0 10px rgba(0, 0, 0, .25);
		box-shadow: 0 0 10px rgba(0, 0, 0, .25);
		display: block;
		position: absolute;
		top: -64px;
		right: 1px;
		z-index: 100;
	}

	.profile .list__item:first-child:after {
		content: '';
		display: block;
		width: 0;
	    border-bottom: 18px solid #eff3f7;/*#3ba8c0*/
	    border-left: 16px solid transparent;
	    border-right: 16px solid transparent;
	    height: 0;
	    position: absolute;
	    top: -18px;
		right: 46px;
	}

	.profile .list__item.active:first-child:after {
		border-bottom: 18px solid #3ba8c0;
	}

	.profile .list {
		margin: 0;
	}

	.contacts .h3 {
		display: none;
	}

	.contacts {
		position: absolute;
		bottom: -99px;
		left: 0;
	}

	.contacts .list__item {		
		float: left;
		width: 197px;
	}

	.general_info .list__item {
		font-size: 18px;
	}

	.list__item strong {
		font-size: 19px;
	}

	.list__more {
		font-size: 16px;
	}
	
	.contacts .list__item:last-child {
		border-radius: 0;
	}

	.menu {
		display: block;
	}

	.portfolio .list {
		margin: 0 0 0 83px;
	}

	.portfolio .list__item,
	section .list .no_mgr {
		margin: 0 53px 44px 0 !important;
		width: 230px;
	}

	.portfolio .thumbnail__project {
		height: 160px;
		width: 230px;	
	}

	.portfolio .thumbnail__project img {
		display: block;
	    height: auto;
	    max-width: 100%;
	    width: 100%;
	}

	.portfolio .thumbnail__link,
	.portfolio .thumbnail__txt {
		font-size: 18px;
		line-height: 22px;
	}

	.thumbnail__project .thumbnail__name {
		top: -190px;
	}

	.add_project {
		height: 160px;
	}

	.add_project .add_project__txt {
		font-size: 15px;
		left: 60px;
		top: 92px;
	}

	.add_project .add_project__icon {
		left: 98px;
	}

	.contact .form__data {
		width: 456px;
	}

	.contact .form__data label {
		font-size: 22px;
		line-height: 22px;
	}

	.contact .form__data .form__col_l,
	.contact .form__data .form__col_r {
		width: 208px;
	}

	.contact .form__data .form__col_l input,
	.contact .form__data .form__col_r input {
		height: 32px;
		line-height: 32px;
		width: 192px;
	}

	.contact .form__data textarea {
		max-width: 438px;
		width: 438px;
	}

	.contact .form__row_captcha label {
		font-size: 18px;
		line-height: 18px;
	}

	.contact .form__data .captcha {
		display: table-cell;
		height: 95px;
		vertical-align: middle;
		width: 222px;
	}

	.contact .form__regist input {
		height: 33px;
		line-height: 24px;
		padding: 0;
		width: 140px;
	}

	.contact .form__regist .form__reset {
		margin: 0 0 0 165px;
	}

}